<div class="home-wrapper">
  <div class="home-body-wrapper">
    <% if flash.notice %>
      <h2 class="flash-notice ta-center fw-semibold "><%= flash.notice %></h2>
    <% end %>
    <section class="home-to-login">
      <h1 class="home-title fw-bold">
        <%= image_tag("mstdn.jp.png",:class => "home-mstdn-logo") %>
        マストログでトゥートを記録しよう
      </h1>
      <h5 class="home-text ta-center">マストログなら複数インスタンスのトゥートをまとめられます</h5>
      <div class="login-box ta-center">
        <%= link_to('/auth/twitter',:class => "login-link fw-bold") do %>
          <i class="fa fa-twitter fa-2">ログイン</i>
        <% end %>
      </div>
    </section>
    <section class="example-wrapper">
      <div class="example-body-wrapper">
        <h3 class="ta-center">使い方</h3>
        <div class="grid">
          <div class="ta-center">
            <span class="ta-center">①ツイッター連携で会員登録</span>
            <%= image_tag("example1.png",:class => "picture1 example-picture") %>
          </div>
          <div class="ta-center">
            <span class="ta-center">②インスタンスのアカウント名を入力</span>
            <%= image_tag("example2.png",:class => "picture2 example-picture") %>
          </div>
          <div class="ta-center">
            <span class="ta-center">③トゥートがマイページに自動更新</span>
            <%= image_tag("example3.png",:class => "picture3 example-picture") %>
          </div>
          
        </div>
      </div>
    </section>
  </div>
</div>

<script>
var search_width_flag = true;

if (search_width_flag){
  window.addEventListener('resize', function () {
    let windowWidth = window.innerWidth;
    if (windowWidth < 768 && search_width_flag) {
      document.querySelector(".example-body-wrapper > div.grid").classList.remove("grid");
      search_width_flag = false;
    } else if (windowWidth > 768 && !search_width_flag) {
      document.querySelector(".example-body-wrapper > div").classList.add("grid");
      search_width_flag = true;
    }
  });
};

if (search_width_flag){
  window.addEventListener('load', function () {
    let windowWidth = window.innerWidth;
    if (windowWidth < 768 && search_width_flag) {
      document.querySelector(".example-body-wrapper > div.grid").classList.remove("grid");
      search_width_flag = false;
    } else if (windowWidth > 768 && !search_width_flag) {
      document.querySelector(".example-body-wrapper > div").classList.add("grid");
      search_width_flag = true;
    }
  });
};
</script>