<div class="new-container">
  <div class="new-wrapper">
    <%= form_for @crawl_state,:url => instance_user_path("#{current_user.id}") do |f| %>
      <%= f.hidden_field :instance, :name => "user_id",:value => current_user.id %>  
      <%= f.text_field :instance,:name => "mstdn.jp" %>
      <%= f.text_field :instance,:name => "Pawoo" %>
      <%= f.text_field :instance,:name => "friends.nico" %>
      <%= f.submit "test" %>
    <% end %>
  </div>
</div>