<div class="index-container">
  <div class="body-wrapper clearfix">
    <main class="main-wrapper">
      <% if flash.notice %>
        <h2 class="flash-notice ta-center fw-semibold "><%= flash.notice %></h2>
      <% end %>
      <section class="user-wrapper grid">
          <%= render :partial => "partial/prof_content" %>
        <div class="toot-calendar">
          <h4 class="toot-calendar-title">recent toot count</h4>
          <% if Toot.where(:user_id => params[:id]).count.to_i > 0 %>
            <%= render :partial => "partial/date_count", :collection => @date_counts %>
          <% end %>
        </div>
      </section>
      <section class="toot-wrapper grid">
        <!-- タイムライントゥート -->
        <div class="column--heavy toot-content-wrapper">
          <% if saved_toots?(params[:id]) %>
            <%= render :partial => "partial/toot", :collection => @toots %>
          <% end %>
        </div>
        <div class="recent-user">
          <h4 class="recent-regist-user ta-center">最近、登録した人</h4>
          <%= render :partial => "partial/recent_user", :collection => @recent_users %>
        </div>
      </section>
    </main>
  </div>
</div> 
<%= paginate @toots if saved_toots?(params[:id]) %>
<style media="screen">
  <% unless @user.tweet_background_image.nil? %>
    .user-prof{ background-image: url(<%= @user.tweet_background_image.gsub(/\/1500x500/,"/ipad") %>); }
  <% else %>
    .user-prof{ background-image: linear-gradient(315deg, rgb(246, 243, 244) 0%, rgb(162, 119, 110) 100%);}
  <% end %>
</style>
