<i class="fa fa-twitter" aria-hidden="true"></i>
<div class="index-container">
  <div class="body-wrapper clearfix">
    <main class="main-wrapper">
      <section class="user-wrapper grid">
          <%= render :partial => "partial/prof_content" %>
        <div class="toot-calendar">
          recent tweet
          <%= render :partial => "partial/date_count", :collection => @date_counts %>
        </div>
      </section>
      <section class="toot-wrapper grid">
          <!-- タイムライントゥート -->
        <div class="column--heavy toot-content-wrapper">
          <%= render :partial => "partial/toot", :collection => @toots %>
        </div>
      </section>
    </main>
  </div>
</div> 
<%= paginate @toots %>
<style media="screen">
  <% unless @user.tweet_background_image.nil? %>
    .user-prof{ background-image: url(<%= @user.tweet_background_image.gsub(/\/1500x500/,"/ipad") %>); }
  <% else %>
    .user-prof{ background-image: linear-gradient(315deg, rgb(246, 243, 244) 0%, rgb(162, 119, 110) 100%);}
  <% end %>
</style>
