<header class = "header-top">
  <div class="header-wrapper">      
    <div class="grid grid-wrapper "> 
      <% if tweet_current_user %>
        <%= link_to(user_path(tweet_current_user.id),:class=>"header-link fw-bold") do %>
          <div class="logo-wrapper">
            <%= image_tag("logo2.jpg",:class => "header-logo") %>
          </div>
        <% end %>
      <% else %>
          <div class="logo-wrapper">
            <%= image_tag("logo2.jpg",:class => "header-logo") %>
          </div>
      <% end %>
      <%= link_to('マストログ？',home_path,:class=>"header-link fw-bold about-site") %>
      <% if current_user %>
        <%= link_to("ログアウト",logout_path,:class => "header-link fw-bold")%>
      <% elsif tweets_logged_in? %>
        <%= link_to("ログアウト",logout_path,:class => "header-link fw-bold")%>
      <% else %>
      <p>
        <i class="fa fa-envelope-o fa-2"></i>
        <%= link_to("ログイン(推奨)",new_user_session_path,:class => "header-link fw-bold")%>
      </p>
      <% end %>
      <div class="profile-photo-wrapper">
        <% if tweet_current_user %>
          <%= link_to(user_path(tweet_current_user.id)) do %>
            <%= image_tag(tweet_current_user.tweet_small_image,:class=>"profile-photo header-common") %>
            <span class="twitter-nickname fw-bold">マイページ</span>
          <% end %>
        <% elsif current_user %>
          <%= link_to(user_path(current_user.id)) do %>
            <span class="twitter-nickname fw-bold">マイページ</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
