<header class = "header-top">
  <div class="header-wrapper">      
    <div class="grid grid-wrapper "> 
      <div class="logo-wrapper">
        <%= image_tag("logo2.jpg",:class => "header-logo") %>
      </div>
      <%= link_to('マストログについて',home_path,:class=>"header-link fw-bold") %>
      <%= link_to("インスタンス登録",new_user_path,:class => "header-link fw-bold") %>
      <% if logged_in? %>
        <%= link_to("ログアウト",logout_path,:class => "header-link fw-bold")%>
      <% else %>
        <%= link_to("ログイン",'/auth/twitter',:class => "header-link fw-bold") %>
      <% end %>
      <div>
        <% if current_user %>
          <%= link_to(user_path(current_user.id)) do %>
            <%= image_tag(current_user.tweet_small_image,:class=>"profile-photo header-common") %>
            <span class="twitter-nickname fw-bold"><%= current_user.tweet_nickname %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
