<header class = "header-top">
  <div class="header-wrapper">      
    <div class="grid grid-wrapper ">      
      <a>25% ロゴマーク</a>
      <a>25% このサイトについて</a>
      <%= link_to("インスタンス編集",new_user_path) %>
      <% if logged_in? %>
        <%= link_to("ログアウト",logout_path)%>
      <% else %>
        <%= link_to("ログイン",'/auth/twitter') %>
      <% end %>
      <div>
        <% if current_user %>
          <%= image_tag(current_user.tweet_small_image,:class=>"profile-photo") %>
          <span class="twitter-nickname"><%= current_user.tweet_nickname %></span>
        <% end %>
      </div>
    </div>
  </div>
</header>
