<div class="content">
  <div class="content-type">
    <h4 class ="display-name-content">
      <%= image_tag("#{toot.toot_instance}.png",:class => "instance-image") %>
      <%= toot.toot_display_name.html_safe %>
      <%= boosted?(toot.toot_reblogged) %>
    </h4>
    <div class="ta-right date-display">
      <span class="display-calendar"><%= time_parse(toot.toot_date) %></span>
    </div>
    <%= toot.toot_text.html_safe %>
  </div>
</div>
<% unless toot.toot_link_text.nil? %>
  <%= raw toot.toot_link_text %>
<% end %>


<div class="status__attachments__inner">
<div class="media-item">
<a style="background-image: url(https://img.pawoo.net/media_attachments/files/001/038/874/original/5757456aa927a7a5.jpg)" target="_blank" rel="noopener" class="u-photo" href="https://img.pawoo.net/media_attachments/files/001/038/874/original/5757456aa927a7a5.jpg"></a>
</div>

<div class="media-item">
<a style="background-image: url(https://img.pawoo.net/media_attachments/files/001/038/876/original/220c95b6262d1862.jpg)" target="_blank" rel="noopener" class="u-photo" href="https://img.pawoo.net/media_attachments/files/001/038/876/original/220c95b6262d1862.jpg"></a>
</div>

</div>
