<div class="content">
  <div class="content-type">
    <h4 class ="display-name-content">
      <%= image_instance(toot) %>
      <span class="toot-instance"><%= toot.toot_instance %></span>
      <%= toot.toot_display_name.html_safe %>
      <%= boosted?(toot.toot_reblogged) %>
    </h4>
    <div class="ta-right date-display">
      <span class="display-calendar"><%= time_parse(toot.toot_date) %></span>
    </div>
    <%= toot.toot_text.html_safe %>
  </div>
</div>
<% unless toot.toot_link_text.nil? %>
  <%= raw toot.toot_link_text %>
<% end %>