<div class="content">
  <div class="content-type">
    <h4 class ="display-name-content">
      <%= image_tag("#{toot.toot_instance}.png",:class => "instance-image") %>
      <%= toot.toot_display_name.html_safe %>
    </h4>
    <div class="ta-right date-display">
      <span class="display-calendar"><%= time_parse(toot.toot_date) %></span>
    </div>
    <%= boosted?(toot.toot_reblogged) %>
    <%= toot.toot_text.html_safe %>
    <%= link_display(toot.toot_link_text)%>
  </div>
</div>