<div class="regist-common-wrapper">
  <!-- cutestrapで中央に変更している。 -->
  <div class="regist-body-common-wrapper">
    <h2 class="ta-center">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <% end -%>
      <div class="actions ta-center">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
