<!DOCTYPE html>
<html>
  <head>
    <title>マストログ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render partial: 'partial/header' %>
    <%= yield %>
    <%= render partial: 'partial/footer' %>
  </body>
</html>
